:root {
  --bg-color-main: #222222;
  --bg-color-add: #ffffff;

  --text-color-main: #ffffff;
  --text-color-add: #222222;

  --color-accent: #ff3c3c;
  --color-pale: #989898;

  --font-family: "Mulish", sans-serif;
  --second-family: "Oswald", sans-serif;
}

@font-face {
  font-family: Mulish;
  src: url("./assets/fonts/Mulish/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mulish;
  src: url("./assets/fonts/Mulish/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mulish;
  src: url("./assets/fonts/Mulish/Mulish-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url("./assets/fonts/Oswald/Oswald-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url("./assets/fonts/Oswald/Oswald-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  margin: 0;
  background-color: var(--bg-color-main);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: var(--text-color-main);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  padding-block: clamp(20px, 15.79vw, 60px);
  padding-inline: 20px;
  margin-inline: auto;
}

.block {
  width: 100%;
}

.block_add {
  background-color: var(--bg-color-add);
  color: var(--text-color-add);
}

.block_main {
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

.title {
  margin-bottom: 12px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.title_add {
  color: var(--text-color-add);
}

.title_main {
  color: var(--text-color-main);
}

.header {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1440px;
}

.menu {
  display: none;
}

.menu__link {
  text-transform: uppercase;
  font-family: var(--second-family);
}

.logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-btn {
  width: 60px;
  height: 60px;
  background-image: url("./assets/images/decor/burger.svg");
  background-position: center;
  background-size: 100%;
}

@media (min-width: 769px) {
  .menu {
    display: block;
  }

  .menu__list {
    display: flex;
  }

  .menu__link {
    display: block;
    padding-inline: 20px;
    line-height: 60px;
  }

  .burger-btn {
    display: none;
  }
}

/* =================== HERO BLOCK =================== */

.hero {
  box-sizing: border-box;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: clamp(20px, 15.79vw, 60px);
  padding-inline: 20px;
}

.hero__title {
  margin-bottom: clamp(10px, 10.5vw, 40px);
  font-family: var(--second-family);
  font-size: clamp(1rem, 14.74vw, 3.5rem);
  font-weight: 300;
  line-height: 1.15;
  text-transform: uppercase;
}

.hero__slogan {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-size: clamp(0.7rem, 5.26vw, 1.25rem);
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero-wrapper_intro {
  width: 57.89vw;
  display: flex;
  flex-direction: column;
  align-self: end;
  align-items: end;
  text-align: right;
}

.hero__intro {
  max-width: 220px;
  font-size: clamp(0.7rem, 4.21vw, 1rem);
}

.hero__img_2 {
  margin-bottom: clamp(20px, 15.79vw, 60px);
}

.stats {
  width: 100%;
  max-width: 342px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0;
  margin-bottom: clamp(20px, 10.53vw, 40px);
}

.stats__item {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
}

.stats__value {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: clamp(1rem, 12.6vw, 3rem);
  line-height: 1.12;
  text-transform: uppercase;
}

.stats__value::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 0;
  bottom: 0;
  width: 19px;
  background-image: url("./assets/images/decor/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.stats__description {
  order: 1;
  font-size: clamp(0.7rem, 4.21vw, 1rem);
}

.award,
.hero__btn,
.hero-wrapper_add {
  display: none;
}

@media (min-width: 650px) {
  .hero {
    min-height: 758px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0;
    padding-right: 20px;
  }

  .hero__title {
    line-height: 1.17;
    font-size: clamp(3.5rem, 8.85vw, 4.25rem);
  }

  .hero-wrapper_main {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-left: 20px;
  }

  .hero__btn {
    display: block;
    align-self: start;
    padding-right: 32px;
    background-image: url("./assets/images/decor/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  .hero-wrapper_add {
    align-self: center;
  }

  .hero-wrapper_intro {
    max-width: 280px;
    align-self: auto;
    justify-content: space-between;
    align-items: end;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 4px;
    flex-grow: 2;
  }

  .stats {
    margin-top: auto;
    box-sizing: border-box;
    padding-right: 20px;
    justify-content: space-between;
    max-width: 361px;
  }

  .award {
    box-sizing: border-box;
    width: 60px;
    display: block;
    order: -1;
    writing-mode: vertical-lr;
    flex-basis: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(-1);
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0.75rem;
    line-height: 1.33;
    font-weight: 500;
  }

  .award::before {
    content: "";
    background-color: var(--bg-color-add);
    width: 2px;
    flex-grow: 1;
    order: 1;
  }

  .award span:first-of-type {
    padding-bottom: 12px;
  }

  .award span:last-of-type {
    order: 2;
    padding-top: 12px;
  }

  .hero__slogan {
    margin-bottom: auto;
  }
}

@media (min-width: 980px) {
  .hero {
    height: calc(100vh - 60px);
    max-height: 862px;
    min-height: 780px;
    column-gap: clamp(
      10px,
      10px + (40 - 10) * (100vw - 980px) / (1440 - 980),
      40px
    );
  }

  .hero-wrapper_main {
    flex-basis: 740px;
    padding-left: 0;
  }

  .hero-wrapper_add {
    display: block;
    flex-basis: 220px;
  }

  .hero-wrapper_intro {
    flex-basis: 280px;
  }

  .hero__img_1 {
    aspect-ratio: 1 / 1;
  }

  .hero__title {
    font-size: clamp(
      68px,
      68px + (116 - 68) * (100vw - 980px) / (1440 - 980),
      116px
    );
  }
}

/* =================== ABOUT BLOCK =================== */

.about__img {
  margin-bottom: 40px;
  aspect-ratio: 1 / 1;
}

.about__img:last-of-type {
  display: none;
}

.about__text {
  margin-bottom: 40px;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .about__img {
    margin-bottom: 40px;
    aspect-ratio: 1 / 1;
    max-width: 440px;
    width: 100%;
  }

  .about .wrapper {
    max-height: 748px;
    columns: 2;
    column-gap: 40px;
  }
}

@media (min-width: 900px) {
  .about__img:last-of-type {
    display: block;
  }

  .about .wrapper {
    max-height: 750px;
    columns: 3 auto;
  }
}

/* =================== PORTFOLIO BLOCK =================== */

.portfolio {
  padding-bottom: 60px;
}

.portfolio .wrapper {
  padding-bottom: 0;
}

.portfolio__description {
  max-width: 360px;
  margin-bottom: 40px;
}

.portfolio__list-wrapper {
  width: 100vw;
  height: 654px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.portfolio__list {
  height: 654px;
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 20px;
}

.portfolio__item {
  max-width: 400px;
  flex-shrink: 0;
}

.portfolio__item.small {
  width: 220px;
  align-self: center;
}

.portfolio__item.small img {
  aspect-ratio: 1 / 1;
}

.portfolio__item.medium {
  width: 280px;
}

.portfolio__item.bottom {
  align-self: end;
}

.portfolio__item.small.center {
  align-self: center;
}

.portfolio__item.medium.center {
  margin-top: 120px;
}
